{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main%}
<div class="row"> 
    <div class="col" id="circles">
        <div id="mainCircle">
            <img src="../static/headshot1.png" alt="Faith in the sun" class="img-fluid">
        </div>
        <div id="secCircle">
            <p>
                I am a project-oriented collaborator focused on creating products to improve everyday life. 
            </p>
            <div href="#">View Profile</div>
        </div>
    </div>
    <div class="col" id="intro">

    </div>
</div>
{% endblock %}